<div class="container">
  <div class="row justify-content-md-center list-group-item-primary">
    <div class="col text-center">
      <h1>bootcamp 2024 angular apex dagg homeworks</h1>
      <br>
    </div>
  </div>

  <div class="row justify-content-md-center list-group-item-secondary">
    <div class="col"></div>
    <div class="col">
      <br>
      <app-red-text></app-red-text>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-success">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <app-multiple-lists-conditional></app-multiple-lists-conditional>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-info">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <app-custom-directive></app-custom-directive>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-secondary">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <app-data-binding></app-data-binding>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-success">
    <div class="col"></div>
    <div class="col">
      <br>
        <div class="header-nav">
          <a routerLink="" routerLinkActive="active" class="nav-link"><span class="nav-text">Main</span></a>
          <a routerLink="second" routerLinkActive="active" class="nav-link"><span class="nav-text">Second</span></a>
      </div>
      <br>
      <router-outlet name="main"></router-outlet>
    </div>
    <div class="col"></div>
  </div>
</div>

