<div class="container">
  <div class="row justify-content-md-center list-group-item-primary">
    <div class="col text-center">
      <h1>bootcamp 2024 angular apex dagg homeworks</h1>
      <br>
    </div>
  </div>

  <div class="row justify-content-md-center list-group-item-secondary">
    <div class="col"></div>
    <div class="col">
      <br>
      <app-red-text></app-red-text>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-success">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <app-multiple-lists-conditional></app-multiple-lists-conditional>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-info">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <app-custom-directive></app-custom-directive>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-secondary">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <app-data-binding></app-data-binding>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-md-center list-group-item-success">
    <div class="col"></div>
    <div class="col">
      <br>
      <br>
      <h2>5.- Modules</h2>
      <br>
        <div class="header-nav">
          <a routerLink="first" routerLinkActive="active" class="nav-link"><span class="nav-text">Main</span></a>
          <a routerLink="second" routerLinkActive="active" class="nav-link"><span class="nav-text">Second</span></a>
      </div>
      <br>
      <ng-component *ngIf="router.url !== '/'">
        <router-outlet></router-outlet>
      </ng-component>
    </div>
    <div class="col"></div>
  </div>


<div class="row justify-content-md-center list-group-item-info">
  <div class="col"></div>
  <div class="col">
    <br>
    <br>
    <h2>6.- Injectable</h2>
    <br>
    <h1>Module Provider</h1>
    <app-my-injectable></app-my-injectable>
  </div>
  <div class="col"></div>
</div>
<div class="row justify-content-md-center list-group-item-secondary">
  <div class="col"></div>
  <div class="col">
    <br>
    <h1>Root Injectable</h1>
    <app-my-injectable2></app-my-injectable2>
    <br>
    <app-my-injectable3></app-my-injectable3>
  </div>
  <div class="col"></div>
</div>

<div class="row justify-content-md-center list-group-item-success">
  <div class="col"></div>
  <div class="col">
    <br>
    <br>
    <h2>7.- Pipes</h2>
    <br>
      <app-pipes></app-pipes>
  </div>
  <div class="col"></div>
</div>

<div class="row justify-content-md-center list-group-item-info">
  <div class="col"></div>
  <div class="col">
    <br>
    <br>
    <h2>8.- Material</h2>
    <br>
      <app-material></app-material>
  </div>
  <div class="col"></div>
</div>
</div>